.headerWrapper{
    grid-area: header;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}